<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!--Import materialize.css-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="materialize.min.css"
	media="screen,projection" />
<!--Fim do Import materialize.css-->
</head>
<body>
	<h1>Ola Spring Boot</h1>
	<a href="/cadastropessoa">Cad. pessoa</a>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<!--Fim do import JavaScript at end of body for optimized loading-->
</body>
</html>